{% include "@Heroes/Default/Structure/header.html.twig" %}
<body>
{% include "@Heroes/Default/Structure/navbar.html.twig" %}
    <section class="container">
        <div class="row">
            <div class="col-xs-6">
                <img class="image-marvel" src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" id="marvel-position">
            </div>
            <div class="col-xs-6">
                <h3>Name</h3>
                <p>{{ character.name }}</p>
                <h3>Description</h3>
                {% if character.description is not empty  %}
                    <p>{{ character.description}}</p>
                {% else %}
                    <p>No description</p>
                {% endif %}

                <h3>Numbers Comics</h3>
                {{ comics | length}}
                <h3>Titles where it appears</h3>
                {% for comic in comics|slice(0,3) %}
                    <p>{{ comic.title }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
{% include "@Heroes/Default/Structure/script.html.twig" %}

</html>