
{% include "@Heroes/Default/Structure/header.html.twig" %}
<body>
{% include "@Heroes/Default/Structure/navbar.html.twig" %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Favoris</th>
                </tr>
                </thead>
                <tbody>
                {% for characters in character|slice(100,20) %}
                <tr>
                    <td><a href="{{ path('heroes_default_description', {'id': characters.id}) }}">{{ characters.name }}</a></td>
                    <td><img class="image-marvel" src="{{ characters.thumbnail.path }}.{{ characters.thumbnail.extension }}"></td>
                    <td>

                        {% for favorisMarvel in favoris if characters.id == favorisMarvel.code %}
                            <p>Vous l'avez déjà en favoris</p>
                        {% else %}
                            <a href="{{ path('heroes_default_favorites', {'id': characters.id}) }}">Rajouter aux Favoris</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


</body>
{% include "@Heroes/Default/Structure/script.html.twig" %}
</html>
